<?xml version="1.0"?>
<!-- Revolute-Revolute Manipulator -->
<robot name="robotis_humanoid" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <!-- some parameters -->
  <xacro:property name="pi" value="3.141592654" />

  <!-- Import all Gazebo-customization elements, including Gazebo colors -->
  <xacro:include filename="$(find robotis_humanoid_description)/urdf/robotis_humanoid.gazebo" />
  <!-- Import Rviz colors -->
  <xacro:include filename="$(find robotis_humanoid_description)/urdf/materials.xacro" />

  <xacro:include filename="$(find robotis_humanoid_description)/urdf/robotis_humanoid.structure.torso.xacro" />
  <xacro:include filename="$(find robotis_humanoid_description)/urdf/robotis_humanoid.structure.arm.xacro" />
  <xacro:include filename="$(find robotis_humanoid_description)/urdf/robotis_humanoid.structure.leg.xacro" />
  <xacro:include filename="$(find robotis_humanoid_description)/urdf/robotis_humanoid.structure.head.xacro" />
  
  <xacro:include filename="$(find robotis_humanoid_description)/urdf/robotis_humanoid.inertia.xacro" />
  <xacro:include filename="$(find robotis_humanoid_description)/urdf/robotis_humanoid.transmissions.xacro" />

  <xacro:include filename="$(find robotis_humanoid_description)/urdf/servos.xacro" />


  <!-- Used for fixing robot -->

  <link name="world">
  </link>

  <joint name="world_fixed" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="base"/>
  </joint>

  <link name="base">
  </link>

  <joint name="base_fixed" type="fixed">
    <origin xyz="0 0 0.2" rpy="0 0 0"/>
    <parent link="base"/>
    <child link="pelvis_link"/>
  </joint>


  <xacro:robotis_humanoid_torso />
  
  <xacro:robotis_humanoid_arm parent="chest_link"
    prefix="l"
    reflect="1"
    arm_joint_1_limit_lower="${-pi*0.5}"
    arm_joint_1_limit_upper="${pi*0.5}"
    arm_joint_2_limit_lower="${-pi*0.3}"
    arm_joint_2_limit_upper="${pi*0.5}"
      arm_joint_3_limit_lower="${-pi*0.5}"
    arm_joint_3_limit_upper="${pi*0.5}"
    arm_joint_4_limit_lower="${-pi*0.4}"
    arm_joint_4_limit_upper="${pi*0.4}"
    arm_joint_5_limit_lower="${-pi*0.5}"
    arm_joint_5_limit_upper="${pi*0.5}" 
    arm_joint_6_limit_lower="${-pi*0.45}" 
    arm_joint_6_limit_upper="${pi*0.45}"
    arm_joint_7_limit_lower="${-pi*0.45}" 
    arm_joint_7_limit_upper="${pi*0.45}"
  />
  <xacro:robotis_humanoid_arm parent="chest_link"
    prefix="r"
    reflect="-1"
    arm_joint_1_limit_lower="${-pi*0.5}"
    arm_joint_1_limit_upper="${pi*0.5}"
    arm_joint_2_limit_lower="${-pi*0.5}"
    arm_joint_2_limit_upper="${pi*0.3}"
    arm_joint_3_limit_lower="${-pi*0.5}"
    arm_joint_3_limit_upper="${pi*0.5}"
    arm_joint_4_limit_lower="${-pi*0.4}"
    arm_joint_4_limit_upper="${pi*0.4}"
    arm_joint_5_limit_lower="${-pi*0.5}"
    arm_joint_5_limit_upper="${pi*0.5}" 
    arm_joint_6_limit_lower="${-pi*0.45}" 
    arm_joint_6_limit_upper="${pi*0.45}"
    arm_joint_7_limit_lower="${-pi*0.45}" 
    arm_joint_7_limit_upper="${pi*0.45}"
  />

  <xacro:robotis_humanoid_leg parent="pelvis_link" 
    prefix="l" 
    reflect="1"
    leg_joint_1_limit_lower="${-pi*0.45}"
    leg_joint_1_limit_upper="${pi*0.45}"
    leg_joint_2_limit_lower="${-pi*0.2}"
    leg_joint_2_limit_upper="${pi*0.3}"
    leg_joint_3_limit_lower="${-pi*0.4}"
    leg_joint_3_limit_upper="${pi*0.4}"
    leg_joint_4_limit_lower="${-pi*0.1}"
    leg_joint_4_limit_upper="${pi*0.7}"
    leg_joint_5_limit_lower="${-pi*0.45}"
    leg_joint_5_limit_upper="${pi*0.45}"  
    leg_joint_6_limit_lower="${-pi*0.5}" 
    leg_joint_6_limit_upper="${pi*0.4}"
  />
  <xacro:robotis_humanoid_leg parent="pelvis_link"
    prefix="r"
    reflect="-1"
    leg_joint_1_limit_lower="${-pi*0.45}"
    leg_joint_1_limit_upper="${pi*0.45}"
    leg_joint_2_limit_lower="${-pi*0.3}"
    leg_joint_2_limit_upper="${pi*0.2}"
    leg_joint_3_limit_lower="${-pi*0.4}"
    leg_joint_3_limit_upper="${pi*0.4}"
    leg_joint_4_limit_lower="${-pi*0.7}"
    leg_joint_4_limit_upper="${pi*0.1}"
    leg_joint_5_limit_lower="${-pi*0.45}"
    leg_joint_5_limit_upper="${pi*0.45}"  
    leg_joint_6_limit_lower="${-pi*0.4}" 
    leg_joint_6_limit_upper="${pi*0.5}"
  />

  <xacro:robotis_humanoid_head parent="chest_link" />

</robot>
