<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">	

	<xacro:macro name="effort_transmission" params="name servo">
		<transmission name="${name}_tran">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="${name}">
				<hardwareInterface>EffortJointInterface</hardwareInterface>
			</joint>
			
			<actuator name="${name}_${servo}_motor">
				<hardwareInterface>EffortJointInterface</hardwareInterface>
				<mechanicalReduction>1</mechanicalReduction>
			</actuator>
		</transmission>
	</xacro:macro>

	<xacro:macro name="position_transmission" params="name servo">
		<transmission name="${name}_tran">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="${name}">
				<hardwareInterface>PositionJointInterface</hardwareInterface>
			</joint>
			
			<actuator name="${name}_${servo}_motor">
				<hardwareInterface>PositionJointInterface</hardwareInterface>
				<mechanicalReduction>1</mechanicalReduction>
			</actuator>
		</transmission>
	</xacro:macro>

</robot>
